site_name: BibbleVM Specification

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.expand
    - toc.integrate

docs_dir: docs

nav:
  - Overview: overview.md
  - The BibbleVM Architecture: architecture.md
  - Instructions: instructions.md

extra_css:
  - stylesheets/extra.css

plugins:
  - search

markdown_extensions:
  - attr_list